.pokemonDetalle {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Pixelify Sans", sans-serif;

  .volverButton {
    padding: 10px 16px;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: var(--font-light);
    font-size: 18px;
    border: 2px solid var(--black);
    border-radius: 6px;
    background-color: var(--green);
    box-shadow: 5px 5px 0px var(--black);
    margin-bottom: 20px;
    cursor: pointer;

    &:hover {
      color: var(--grey);
      background-color: var(--black);
    }
  }

  .pokemonDetalleCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #afafaf;
    box-shadow: 5px 5px 0px #878787;
    border-radius: 8px;
    border-bottom-left-radius: 24px;
    width: 350px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f0f0f0;

    h1 {
      font-size: 40px;
      text-transform: capitalize;
      margin: 10px;
      margin-bottom: 20px;
    }

    img {
      width: 150px;
      height: 150px;
      border-radius: 8px;
      padding: 12px 60px;
      border: 2px solid #000000;
      box-shadow: inset -5px -5px 5px #000000;
      margin-bottom: 20px;
      object-fit: contain;
      background-color: var(--black);
    }

    p {
      font-size: 18px;
      margin: 4px 0;
    }

    h3 {
      margin-top: 16px;
      margin-bottom: 8px;
      font-size: 20px;
    }

    ul {
      list-style: none;
      padding: 0;
      width: 100%;

      li {
        display: flex;
        justify-content: space-between;
        padding: 4px 0;
        border-bottom: 1px solid #a6a6a6;

        strong {
          text-transform: capitalize;
        }
      }
    }
  }
}
