footer {
  display: flex;
  width: 100%;
  justify-content: center; // Centra el texto
  align-items: center;
  font-family: "Pixelify Sans", sans-serif;
  box-sizing: border-box;
  padding: 20px;
  background-color: var(--black);
  color: var(--grey);
  box-shadow: 5px 5px 0px var(--grey);
  box-sizing: border-box;
  margin: 0;
   bottom: 0;   
   z-index: 999;    
 position: sticky;
  
  // Forma tipo Pokédex invertida para el footer
clip-path: polygon(100% 100%, 0 100%, 0 0, 80% 0, 100% 40%);


  p {
    margin: 0;
    font-size: 16px;
  }
  }
