.formNewContainer {
  display: flex;
  flex-direction: column;
  align-items: center; // centra horizontal
  justify-content: center; // centra vertical

  .formNew {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Pixelify Sans", sans-serif;
    gap: 20px;
    padding: 10px 40px;
    margin: 0 auto;

    h1 {
      margin-left: 20px;
    }

    .basicDates,
    .typesDates {
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: var(--black);
      gap: 16px;
      border: 2px solid #000000;
      box-shadow: inset -5px -5px 5px #000000;
      padding: 24px 30px;
      border-radius: 8px;
      margin-bottom: 16px;

      label {
        font-weight: var(--font-bold);
        font-size: 20px;
        color: var(--grey);
        margin-bottom: 4px;
      }

      input,
      select {
        font-family: "Pixelify Sans", sans-serif;
        padding: 10px 14px;
        border: 2px solid var(--black);
        border-radius: 6px;
        font-size: 16px;
        box-sizing: border-box;
        outline: none;

        &:focus {
          border-color: var(--green);
        }
      }

      span {
        color: var(--red);
        font-size: 14px;
        margin-top: 2px;
      }
    }

    .createButton {
      padding: 10px 16px;
      font-family: "Pixelify Sans", sans-serif;
      font-weight: var(--font-light);
      font-size: 18px;
      border: 2px solid var(--black);
      border-radius: 6px;
      background-color: var(--green);
      box-shadow: 5px 5px 0px var(--black);
      cursor: pointer;

      &:hover {
        color: var(--grey);
        background-color: var(--black);
      }
    }
  }
}
