.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;

  h1 {
    display: flex;
    padding: 24px;
    border-radius: 8px;
    border: 3px solid #000000;
    box-shadow: inset -5px -5px 10px #000000;
    color: var(--grey);
    background-color: var(--black);
  }

  .formSearch {
    display: flex;
    gap: 10px;

    input {
      font-family: "Pixelify Sans", sans-serif;
      padding: 10px 14px;
      width: 250px;
      font-size: 16px;
      border: 2px solid var(--black);
      border-radius: 6px;
      outline: none;

      &:focus {
        border-color: var(--green);
      }
    }

    .searchButton {
      padding: 10px 16px;
      font-family: "Pixelify Sans", sans-serif;
      font-weight: var(--font-light);
      font-size: 18px;
      border: 2px solid var(--black);
      border-radius: 6px;
      background-color: var(--green);
      box-shadow: 5px 5px 0px var(--black);
      cursor: pointer;

      &:hover {
        color: var(--grey);
        background-color: var(--black);
      }
    }
  }
}
